@import "species";
@import "vars";
@import "layout";
@import "iucn";
@import "popup";
@import "category";
@import "dendrogram";

@font-face {
  font-family: Caveat;
  font-display: swap;
  src: url(../fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Patrick Hand";
  font-display: swap;
  src: url(../fonts/PatrickHand-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: $main-background-color;
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
  margin: 0;
  padding: $nav-height 0 $nav-height;
  position: relative;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;

  &[data-clickable-image] {
    cursor: pointer;
  }
}

.main {
  background-color: white;
  width: min(100%, #{$main-column-width});
  margin: auto;
}

.tablet-down {
  display: none;
  @media (max-width: $tablet - 1) {
    display: flex;
  }
}
