.species {
  margin-bottom: 20px;
}
.species__section {
  display: flex;
}
.species__section:not(:first-child) {
  padding-top: 10px;
}
@media (max-width: 1199px) {
  .species__section--wrap {
    flex-wrap: wrap;
  }
}
.species__image {
  width: 70%;
}
@media (max-width: 1199px) {
  .species__image {
    width: 0;
  }
}
@media (min-width: 1200px) {
  .species__image-mobile {
    display: none;
  }
}
.species__info {
  padding-left: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1199px) {
  .species__info {
    width: 100%;
    padding: 0;
  }
}
.species__title {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: "Caveat", cursive;
}
.species__subtitle {
  text-align: center;
  font-style: italic;
}
.species__content {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 20px 0;
}
.species__content table, .species__content th, .species__content td {
  border-collapse: collapse;
}
.species__content table {
  width: 100%;
}
.species__content tr {
  height: 40px;
}
.species__content tr:not(:last-of-type) {
  border-bottom: 1px solid darkgrey;
}
.species__content th {
  text-align: left;
  width: 33%;
}
.species__content th:after {
  content: " :";
}
.species__content td {
  padding-right: 4px;
}
.species__sound {
  margin: 10px 0;
}
.species__map {
  border: 1px solid black;
  padding: 1px;
}
.species__description {
  margin-left: 10px;
}
@media (max-width: 1199px) {
  .species__description {
    margin: 10px 0 0;
  }
}
.species__legal {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.species__sources {
  padding: 1px 0 1px 10px;
}
.species__sources summary {
  cursor: pointer;
}
.species__date {
  text-align: right;
  font-size: 16px;
}

.species-gallery__title {
  font-family: "Caveat", cursive;
  padding-left: 50px;
}
@media (max-width: 1199px) {
  .species-gallery__title {
    text-align: center;
    padding: 0;
  }
}
.species-gallery__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.species-gallery__item {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.species-gallery__item--space-fix {
  height: 0;
  width: 100%;
  margin: 0;
}
.species-gallery__description {
  text-align: center;
}

.taxonomy {
  display: inline-block;
  max-width: 100%;
}
.taxonomy > .taxonomy__wrapper {
  padding: 0;
}
.taxonomy__wrapper {
  padding: 0 20px;
}
.taxonomy__value {
  text-align: center;
  background-color: #69d200;
  margin-top: 2px;
}
.taxonomy__taxon {
  font-weight: bold;
}
.taxonomy__name--species {
  font-style: italic;
  padding: 0 3px;
}

.nav {
  height: 80px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: black 0px -1px 6px;
  z-index: 10;
}
.nav__wrapper {
  width: min(100%, 1400px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__center {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .nav__center {
    position: fixed;
    width: 300px;
    height: 100vh;
    z-index: 10;
    flex-direction: column;
    justify-content: flex-start;
    right: 0;
    top: 0;
    transform: translate(320px, 0);
    background-color: white;
    box-shadow: black -2px 0 7px 1px;
    transition: transform 0.3s ease-in-out;
  }
}
.nav__right {
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  height: 100%;
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  min-width: 100px;
  padding: 0 20px;
  color: black;
  background-color: white;
  text-decoration: none;
  flex: 0;
  transition: 0.2s linear;
  transition-property: background-color;
}
@media (max-width: 1199px) {
  .nav__link {
    flex-basis: 40px;
  }
}
.nav__link:hover {
  background-color: black;
  color: white;
}
.nav__link--logo {
  font-family: Caveat, cursive;
  font-weight: bold;
  font-size: 25px;
  transition-property: background-color, color;
}
@media (max-width: 1199px) {
  .nav__link--logo {
    flex-basis: 80px;
  }
}
.nav__logo {
  width: 26px;
  margin-left: 5px;
  fill: #69d200;
}
.nav__filler {
  width: 0;
}
@media (max-width: 1199px) {
  .nav__filler {
    width: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 80px;
  }
}
.nav__checkbox-trigger {
  display: none;
}
.nav__checkbox-trigger:checked + .nav__center {
  transform: translate(0, 0);
}
.nav__burger {
  display: none;
  position: relative;
  flex-direction: column;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: black 0 0 3px 0.7px;
  margin-right: 15px;
  justify-content: space-around;
  align-items: center;
  padding: 11px 11px;
  z-index: 1;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .nav__burger {
    display: flex;
  }
}
.nav__burger-item {
  width: 18px;
  height: 2px;
  background-color: black;
}
.nav__cross-item {
  width: 25px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 12.5px);
  transform-origin: center;
}
.nav__cross-item:first-of-type {
  transform: rotate(45deg);
}
.nav__cross-item:last-of-type {
  transform: rotate(-45deg);
}

.footer {
  width: 100%;
  height: 80px;
  background-color: white;
  position: absolute;
  bottom: 0;
  box-shadow: inset black 0 5px 4px -4.3px;
}
.footer__wrapper {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__link {
  margin: 0 10px;
}
.footer__link--instagram {
  font-size: 30px;
}
.footer__link--instagram, .footer__link--instagram:visited, .footer__link--instagram:hover, .footer__link--instagram:active {
  color: #C13584;
}
.footer__link--github {
  font-size: 30px;
}
.footer__link--github, .footer__link--github:visited, .footer__link--github:hover, .footer__link--github:active {
  color: black;
}
.footer__license-image {
  height: 32px;
}

.iucn {
  position: relative;
}
.iucn__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3%;
  right: 4.5%;
  display: flex;
}
@media (max-width: 1199px) {
  .iucn__overlay {
    display: none;
  }
}
.iucn__tooltip {
  height: 100%;
  flex: 1;
  position: relative;
}
.iucn__tooltip:hover:before {
  content: "";
  background-color: black;
  width: 20px;
  height: 20px;
  position: absolute;
  transform-origin: center;
  transform: rotate(45deg);
  top: calc(100% + 5px);
  left: calc(50% - 10px);
}
.iucn__tooltip:hover:after {
  box-sizing: border-box;
  content: attr(data-title);
  position: absolute;
  display: block;
  top: calc(100% + 10px);
  left: calc(50% - 75px);
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  width: 150px;
  text-align: center;
  padding: 8px 10px;
  box-shadow: #5f5f5f 0 2px 4px 0;
}
.iucn__mobile {
  display: none;
}
.iucn__trigger {
  display: none;
}
.iucn__trigger:checked + .iucn__mobile {
  display: block;
}
.iucn__mobile-tooltip {
  z-index: 1;
  box-sizing: border-box;
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 10px);
  left: calc(50% - 75px);
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  width: 150px;
  text-align: center;
  padding: 8px 10px;
  box-shadow: #5f5f5f 0 2px 4px 0;
}
.iucn__mobile-tooltip-tail {
  z-index: 0;
  content: "";
  background-color: black;
  width: 20px;
  height: 20px;
  position: absolute;
  transform-origin: center;
  transform: rotate(45deg);
  top: calc(100% + 5px);
  left: calc(50% - 10px);
}

.image-popup {
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
.image-popup:target {
  display: flex;
}
.image-popup__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-popup__image {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.image-popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  padding: 8px 10px;
  cursor: pointer;
}
.image-popup__close:hover, .image-popup__close:focus {
  background: white;
}
.image-popup__close:before {
  content: "X";
  font-family: monospace;
}

.category {
  padding-top: 15px;
}
.category__title {
  text-align: center;
  margin: 0;
  font-family: Caveat, cursive;
  font-size: 50px;
}
.category__subtitle {
  text-align: center;
  margin: 0;
  font-weight: normal;
  font-style: italic;
}
.category__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.species-card {
  max-width: 450px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: black 0 2px 8px -2px;
}
.species-card:hover {
  box-shadow: black 0 3px 8px 1px;
}
.species-card, .species-card:visited, .species-card:active, .species-card:hover {
  color: inherit;
}
.species-card--space-fix {
  width: 100%;
  margin: 0;
  border: none;
}
.species-card--space-fix, .species-card--space-fix:hover, .species-card--space-fix:active {
  box-shadow: none;
}
.species-card__name {
  text-align: center;
  font-size: 20px;
  padding: 5px 0 10px;
}

.home {
  padding: 1px 0;
}
.home__title {
  font-family: "Caveat", cursive;
  text-align: center;
}
.home__section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
@media (max-width: 1199px) {
  .home__section {
    flex-direction: column;
  }
}
.home__section-content {
  margin: 0 20px;
}
@media (max-width: 1199px) {
  .home__section-content {
    order: 2;
  }
}
@media (max-width: 1199px) {
  .home__image {
    order: 1;
  }
}
.home__list {
  margin: 0;
}

.dendrogram {
  padding: 1px 0;
}
.dendrogram__title {
  text-align: center;
}
.dendrogram__root {
  overflow-y: auto;
  position: relative;
}
.dendrogram__taxon {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style-type: none;
  height: 100%;
  width: fit-content;
  position: relative;
  padding: 5px 0;
}
.dendrogram__taxon--label {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 2;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 1199px) {
  .dendrogram__taxon--label {
    display: none;
  }
}
.dendrogram__item {
  display: flex;
  position: relative;
  align-items: center;
}
.dendrogram__item:before {
  content: "";
  position: absolute;
  border-bottom: 2px solid black;
  left: 0;
  width: 10px;
  top: 50%;
}
.dendrogram__item:first-child:before {
  border-left: 2px solid white;
  top: -5px;
  bottom: 50%;
  z-index: 1;
}
.dendrogram__item:last-child:before {
  border-bottom: none;
  border-left: 2px solid white;
  border-top: 2px solid black;
  bottom: -5px;
  z-index: 1;
}
.dendrogram__item:last-child:first-child:before {
  border: none;
  border-left: 2px solid white;
}
.dendrogram__item:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid black;
  left: 150px;
  width: 10px;
  top: 50%;
}
.dendrogram__item--link {
  padding-left: 20px;
}
.dendrogram__item--link:after {
  content: none;
}
.dendrogram__item-name {
  width: 160px;
  text-align: center;
}
.dendrogram__item-name--label {
  font-family: "Caveat", cursive;
  font-size: 22px;
  background-color: white;
}
.dendrogram__vertical-line {
  position: absolute;
  left: 160px;
  top: 0;
  bottom: 0;
  border-left: 2px solid black;
}
.dendrogram__vertical-line--first {
  left: 0;
}
.dendrogram__link {
  width: 250px;
}

@font-face {
  font-family: Caveat;
  font-display: swap;
  src: url(../fonts/Caveat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Patrick Hand";
  font-display: swap;
  src: url(../fonts/PatrickHand-Regular.ttf);
}
* {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: "Patrick Hand", cursive;
  font-size: 18px;
  margin: 0;
  padding: 80px 0 80px;
  position: relative;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}
img[data-clickable-image] {
  cursor: pointer;
}

.main {
  background-color: white;
  width: min(100%, 1400px);
  margin: auto;
}

.tablet-down {
  display: none;
}
@media (max-width: 1199px) {
  .tablet-down {
    display: flex;
  }
}

/*# sourceMappingURL=main.css.map */
