@import "vars";

.species {
  margin-bottom: 20px;

  &__section {
    display: flex;

    &:not(:first-child) {
      padding-top: 10px;
    }

    &--wrap {
      @media (max-width: $tablet - 1) {
        flex-wrap: wrap;
      }
    }
  }

  &__image {
    width: 70%;
    @media (max-width: $tablet - 1) {
      width: 0;
    }
  }

  &__image-mobile {
    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__info {
    padding-left: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $tablet - 1) {
      width: 100%;
      padding: 0;
    }
  }

  &__title {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Caveat', cursive;
  }

  &__subtitle {
    text-align: center;
    font-style: italic;
  }

  &__content {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 20px 0;

    table, th, td {
      border-collapse: collapse;
    }

    table {
      width: 100%;
    }

    tr {
      height: 40px;

      &:not(:last-of-type) {
        border-bottom: 1px solid darkgrey;
      }
    }

    th {
      text-align: left;
      width: 33%;

      &:after {
        content: ' :';
      }
    }

    td {
      padding-right: 4px;
    }
  }

  &__sound {
    margin: 10px 0;
  }

  &__map {
    border: 1px solid black;
    padding: 1px;
  }

  &__description {
    margin-left: 10px;

    @media (max-width: $tablet - 1) {
      margin: 10px 0 0;
    }
  }

  &__legal {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  &__sources {
    padding: 1px 0 1px 10px;

    summary {
      cursor: pointer;
    }
  }

  &__date {
    text-align: right;
    font-size: 16px;
  }
}

.species-gallery {
  &__title {
    font-family: "Caveat", cursive;
    padding-left: 50px;

    @media (max-width: $tablet - 1) {
      text-align: center;
      padding: 0;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__item {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;

    &--space-fix {
      height: 0;
      width: 100%;
      margin: 0;
    }
  }

  &__description {
    text-align: center;
  }
}

.taxonomy {
  display: inline-block;
  max-width: 100%;

  > .taxonomy__wrapper {
    padding: 0;
  }

  &__wrapper {
    padding: 0 20px;
  }

  &__value {
    text-align: center;
    background-color: $accent-color;
    margin-top: 2px;
  }

  &__taxon {
    font-weight: bold;
  }

  &__name {
    &--species {
      font-style: italic;
      padding: 0 3px;
    }
  }
}