// COLORS
$main-background-color: #dadada;
$accent-color: #69d200;
$instagram-color: #C13584;

// *************************************************************
// breakpoints
$mobile: 800px;
$tablet: 1200px;
$large-desktop: 1920px;

// *************************************************************
// SIZES
$main-column-width: 1400px;
$nav-height: 80px;
$mobile-menu-width: 300px;