{% macro render(src, alt, title, class, clickable, small=false, mobile=false) %}
  {% if mobile %}
    {% set id = src + "-mobile" | slugify %}
  {% else %}
    {% set id = src | slugify %}
  {% endif %}
  {% set small_src = src | use_sm %}
  {% if clickable %}
    <a href="#{{ id }}" id="{{ id }}-source"
       {% if class %}class="{{ class }}-link"{% endif %}>
  {% endif %}
<img alt="{{ alt }}"
    {% if small %}
     src="{{ url_for('static', filename=small_src) }}"
    {% else %}
     src="{{ url_for('static', filename=src) }}"
    {% endif %}
     {% if title %}title="{{ title }}"{% endif %}
     {% if class %}class="{{ class }}"{% endif %}>
{% if clickable %}
  </a>
  <a class="image-popup" id="{{ id }}" href="#{{ id }}-source">
    <div class="image-popup__container" id="image-popup-container">
      <img src="{{ url_for('static', filename=src) }}" alt="{{ alt }}"
           class="image-popup__image"
           {% if title %}title="{{ title }}"{% endif %}
           {% if clickable %}data-clickable-image{% endif %}
      >
    </div>
    <button class="image-popup__close" id="image-popup-close">
      Fermer
    </button>
  </a>
{% endif %}
{% endmacro %}