{% import 'macros/image.html' as image %}

{% macro render(level ) %}
  <div class="iucn">
    {{ image.render("icons/IUCN/IUCN_" + level + ".svg", "Image liste rouge UICN catégorie " + level) }}
    <div class="iucn__overlay">
      <div class="iucn__tooltip" data-title="Éteint"></div>
      <div class="iucn__tooltip" data-title="Éteint à l'état sauvage"></div>
      <div class="iucn__tooltip" data-title="En danger critique"></div>
      <div class="iucn__tooltip" data-title="En danger"></div>
      <div class="iucn__tooltip" data-title="Vulnérable"></div>
      <div class="iucn__tooltip" data-title="Quasi menacé"></div>
      <div class="iucn__tooltip" data-title="Préoccupation mineure"></div>
    </div>
  </div>
{% endmacro %}