{% extends 'layout.html' %}
{% import 'macros/image.html' as image %}

{% block main %}
  <div class="home">
    <h1 class="home__title">IMS-Nature</h1>

    <div class="home__section">
      <div class="home__section-content">
        Bonjour et bienvenue sur IMS nature, un site qui combine deux passions: la photographie et l’étude de la vie
        sauvage.
        <br>
        Toutes les photos du site ont été prises par nos soins, lors de promenades dans la nature, dans des parcs, dans
        des espaces zoologiques, etc. Chaque sortie est un prétexte pour observer et prendre en photo la nature qui nous
        entoure. Le but de ce site est de partager nos photographies et de transmettre quelques connaissances sur la
        biodiversité que nous côtoyons.
      </div>
    </div>

    <div class="home__section">
      {{ image.render(src="media/Photos site/Marie-Sophie.JPG", alt="Marie-Sophie", small=True, class="home__image") }}

      <div class="home__section-content">
        Je m’appelle Marie-Sophie, je suis une grande passionnée de nature et particulièrement d’animaux depuis
        toujours. C’est donc naturellement que mes études se sont focalisées là-dessus et que j’ai obtenu un master en
        biologie à l’université de Lyon 1 en 2019.
        <br>
        La photographie de nature a également toujours fait partie de ma vie mais c’est en 2020 que j’ai décidé
        d’acheter un appareil photo hybride ainsi qu’un téléobjectif et un objectif macro.
        <br>
        J’espère que ce site vous plaira et qu’il permettra de développer chez certains un attrait pour la biodiversité.
        N’hésitez pas à jeter un coup d’œil à
        <a href="https://www.instagram.com/marie_ponky/" target="_blank" rel="noreferrer">mon compte Instagram</a>
        pour d’autres photos.
      </div>
    </div>

    <div class="home__section">
      <div class="home__section-content">
        Moi c’est Ivan ! Je suis le penchant plus techno du duo. J’étais un peu moins attiré par la photo que par l’idée
        d’avoir un nouveau gadget avec lequel jouer, mais je m’y suis plongé avec plaisir. Si peut-être d’une autre
        manière, j’ai moi aussi toujours aimé la nature et je trouve important le fait de vulgariser et sensibiliser
        tout le monde à la richesse et la valeur de la biodiversité du quotidien.
        <br>
        Pour ma part, après 2 ans de prépa, j’ai plongé dans une alternance en développement web/full-stack, et je
        continue pour l’instant dans cette voie. J’ai un faible pour Python pour la partie serveur, et React si je dois
        choisir pour le Frontend.
        <br>
        Pour ceux qui aiment les détails techniques, les challenges que je me suis mis pour la création de ce site
        étaient :
        <ul class="home__list">
          <li>Pas de javascript ! (avec un peu de créativité, CSS suffit !)</li>
          <li>
            Génération du site en site static pur HTML static par Flask. ( J’aime beaucoup Python, et je cherchais un
            projet pour m’en
            servir un peu, et ça simplifie quand même vachement l'hébergement!)
          </li>
        </ul>
      </div>

      {{ image.render(src="media/Photos site/Ivan.JPG", alt="Ivan", small=True) }}
    </div>
  </div>
{% endblock %}
