{% import 'macros/leaf.html' as leaf %}
{% import 'macros/image.html' as image %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <link rel="stylesheet" href="{{ url_for('static', filename="css/main.css") }}">
  <link rel="icon" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous"/>
  <title>
    {%- block page_title -%}
      IMS Nature
    {%- endblock -%}
  </title>
  <meta name="description" content="{% block meta_description -%}
    IMS Nature : un site avec des photos de nature
  {%- endblock %}">
</head>
<body>

<nav class="nav">
  <div class="nav__wrapper">
    <div class="nav__left">
      <a href="{{ url_for('') }}" class="nav__link nav__link--logo">
        IMS Nature {{ leaf.render('nav__logo') }}
      </a>
    </div>
    <input type="checkbox" id="menu-checkbox" class="nav__checkbox-trigger">
    <div class="nav__center">
      <div class="nav__filler">
        <label for="menu-checkbox" class="nav__burger tablet-down">
          <span class="nav__cross-item"></span>
          <span class="nav__cross-item"></span>
        </label>
      </div>
      <a class="nav__link" href="{{ url_for('') }}">Accueil</a>
      <a class="nav__link" href="{{ url_for('oiseaux') }}">Oiseaux</a>
      <a class="nav__link" href="{{ url_for('mammiferes') }}">Mammifères</a>
      <a class="nav__link" href="{{ url_for('oiseaux_etourneau') }}">Etourneau</a>
      <a class="nav__link" href="{{ url_for('oiseaux_huppe') }}">Plantes</a>
    </div>
    <div class="nav__right">
      <label for="menu-checkbox" class="nav__burger">
        <span class="nav__burger-item"></span>
        <span class="nav__burger-item"></span>
        <span class="nav__burger-item"></span>
      </label>
    </div>
  </div>
</nav>

<div class="main">

  {% block main %}
  {% endblock %}

</div>

<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__left"></div>
    <div class="footer__right">

      <a href="https://www.instagram.com/marie_ponky/" class="footer__link footer__link--instagram" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>

<div class="image-popup" id="image-popup">
  <div class="image-popup__container" id="image-popup-container"></div>
  <button class="image-popup__close" id="image-popup-close">
    Fermer
  </button>
</div>

<script src="{{ url_for('static', filename="js/popup.js") }}"></script>
</body>
</html>