{% extends 'layout.html' %}

{% import 'macros/image.html' as image %}
{% import 'macros/iucn.html' as iucn %}

{% block page_title -%}
  {{ data.vernacular }} | IMS Nature
{%- endblock %}

{% block main %}
  <div class="species">
    <div class="species__image">
      {{ image.render(**data.image) }}
    </div>
    <div class="species__info">
      <h1 class="species__title">
        {{ data.vernacular }}
      </h1>
      <div class="species__subtitle">
        {{ data.name }}
      </div>
      <div class="species__iucn">
        {{ iucn.render(data.iucn) }}
      </div>
      <div class="species__content">
        <table>
          {% for (key, value) in data.page_content.items() %}
            <tr>
              <th>{{ key }}</th>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      {% if data.sound %}
        <audio controls class="species__sound">
          <source src="{{ url_for('static', filename=data.sound.src) }}" type="audio/mp3">
        </audio>
      {% endif %}
      <div class="species__map">
        {{ image.render(**data.map) }}
      </div>
      {% if data.description %}
        <div class="species__description">
          {{ data.description | safe }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}